*{
    /*outline: 1px solid  cyan;*/
    
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat-Regular', sans-serif;
}
.a{
    color: #352384;
    color: black;
}
.home{
	font-size: 40px;
	display: inline-block;
    
    color: white;
    
}
.home:hover{
    color:#ff00bf;

}
.boton{
    background: transparent;
    border-radius: 10px;
    border: 2px solid #ff00bf;
    position: relative;
    color: white;
    padding: 15px;
    margin: 10px;
    left: 70px;
    font-size: 20px;

}
.boton:hover{
    color: #ff00bf;
}
.home{
    position: relative;
    margin: 10px;
    left: 300px;
}
li{
    left: 200px;
    margin: 10px;
    position: relative;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: #ff00bf;
}
nav{
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	
}


.logo,.menu{
	position: absolute;
	z-index: 2000;
}

.logo{
	left: 40px;
	top: 10px;
	width: 100px;
	height: 94px;
	text-align: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('.../Assets/img/logo-pink.png');
    background-size:180%;

}
.gradiente{
    height: 100px;
    width: 100%;
    background: -webkit-linear-gradient(#582985, #28133E);
}

.cajatexto{
    position: relative;
    background: white;
    height: 200px;
    width: 400px;
}
.cajahijo{
 position: absolute;
 color: #352384;;
}
#title{
    position: absolute;
    color: #352384;
    font-size: 30px;

}
#subtitle{
    position: absolute;
    color: #352384;
    font-size: 20px;

}
#seccion2{
     
     width: 100%;
     color: white;
    background: -webkit-linear-gradient(#6C1D87,#28133E);
}
.cajita1{
    position: absolute;
    height: 70px;
    margin-left: 20px;
    margin-top: 820px;
    top: 25px;
}
.celular{
    
      margin-left: 700px;
    
}
.phone{
    width: 500px;
    height: 500px;
}
#seccion3{
     /*position: relative;*/
     width: 100%;
     color: black;
    background: white;
}
.texto{
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
    width: 219px;
    /*font-size: 30px;*/
}
#video2{
      margin-left: 405px;
      margin-right: 10px;
}
#seccion4{
    /*position: relative;*/
     width: 100%;
     color: black;
    background: white;
}
.textoSec4{
    position: absolute;
    margin-top: 50px;
    margin-left: 900px;
    width: 240px;
}
#video3{
    margin-left: 0;
}
.textoSec5{
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
    width: 230px;
    /*font-size: 30px;*/
}
#video4{
      margin-left: 405px;
      position: flex;
      /*margin-right: 0px;*/
}
footer{
    top: 0;
    
    background: #333447;
}
/*footer*/
 div li{
    list-style: none;
}
.menufinal{
  width: 300px;
  margin-left: 0;
  /*top: 10px;*/
}
.menufinal2{
    /*position: relative;*/
    /*margin-left: 400px;*/
    width: 300px;
    /*margin-top: 10px;*/
}
#final div{
    /*float: left;*/
    display: inline-block;
}
.final{
left: 10px;
}
.icon{
    width: 133px;
    height: 40px;
    /*font-size: 50px;*/
}
#final{
    margin-bottom: 0px;
    background: #333447;
}