*{
    outline: 1px solid  cyan;
    font-family: 'Montserrat-Regular', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*background: #352384;*/
    /*background: black;*/
}
.a{
    color: #352384;
    color: black;
}
.home{
	font-size: 40px;
	display: inline-block;
    /*text-decoration: none;*/
    color: white;
    
}
.home:hover{
    color:#ff00bf;

}
.boton{
    background: transparent;
    border-radius: 7px;
    border: 2px solid #ff00bf;
    position: relative;
    color: white;
    padding: 15px;
    margin: 10px;
    left: 70px;
    font-size: 20px;

}
.boton:hover{
    color: #ff00bf;
}
li{
    position: relative;
    margin: 10px;
    left: 300px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: #ff00bf;
}
nav{
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	
}


.logo,.menu{
	position: absolute;
	z-index: 2000;
}

.logo{
	left: 40px;
	top: 10px;
	width: 100px;
	height: 94px;
	text-align: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../Assets/img/logo-pink.png');
    background-size:180%;

}
.gradiente{
    height: 100px;
    width: 100%;
    background: -webkit-linear-gradient(#582985, #28133E);
}
.gradiente2{
    height: 70px;
    width: 100%;
    background: -webkit-linear-gradient(#6C1D87,#28133E);
}
.cajatexto{
    position: relative;
    background: white;
    height: 200px;
    width: 400px;
}
.cajahijo{
 position: absolute;
 color: #352384;;
}
#title{
    position: absolute;
    color: #352384;
    font-size: 30px;

}
#subtitle{
    position: absolute;
    color: #352384;
    font-size: 20px;

}
#seccion2{
     /*position: relative;*/
     width: 100%;
     color: white;
    background: -webkit-linear-gradient(#6C1D87,#28133E);
}
.cajita1{
    position: absolute;
    height: 70px;
    margin-left: 20px;
    margin-top: 820px;
    top: 5px;
}
.celular{
    /*position:relative;*/
      margin-left: 700px;
    /*left: 700px;*/
}
.phone{
    width: 500px;
    height: 500px;
}
#seccion3{
     /*position: relative;*/
     width: 100%;
     color: black;
    background: white;
}
.texto{
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
    width: 219px;
    /*font-size: 30px;*/
}
#video2{
      margin-left: 405px;
      margin-right: 10px;
}
#seccion4{
    /*position: relative;*/
     width: 100%;
     color: black;
    background: white;
}
.textoSec4{
    position: absolute;
    margin-top: 50px;
    margin-left: 900px;
    width: 240px;
}
#video3{
    margin-left: 0;
}
